a:hover {
  color: #75787b !important;
}

/*=============================================
Navbar
==============================================*/

.coloumn-user {
  float: right;
  padding: 15px 0;
}

.user-menu li {
  display: inline-block;
}

.user-menu li a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}


.navbar-header {
  float: none !important;
  padding-top: 50px;
}

.navbar-brand {
  float: left !important;
  padding: 10px 15px !important;
  color: white !important;
}

.navbar-header .left-inner-addon{
  position: relative;
}

.navbar-header .left-inner-addon input {
  border: 0;
  height: 35px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 35px;
  border-radius: 3px;
}

.navbar-header .left-inner-addon i {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.navbar-header button {
  font-weight: 600;
  text-transform: none;
  background: 0;
  border: 1px solid #fff;
  border-radius: 2px;
  width: 33px;
  height: 33px;
  color: white;
}

.navbar-header .col-xs-3 {
  text-align: center;
}

.navbar-header .col-xs-3 a {
  text-decoration: none;
  color: white;
}

/*================================================
navbar-menu
=================================================*/
.navbar-menu {
  border-bottom: 1px solid #d5d8db;
}

.navbar-menu a {
  color: grey;
  text-decoration: none;
  margin: auto 45px;
}

.navbar-menu a:hover {
  background: none !important;
  border-bottom: 2px solid #3498DB;
}

/*================================================
Section .banner
=================================================*/

/*================================================
Section .banner .col-xs-4
=================================================*/
.banner {
  margin-top: 50px;
}

.banner .info {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.banner .menu-samping figure {
  list-style: none;
  padding: 11px 0 12px 12px;
  border-bottom: 1px solid #e6e7e8;
}

.banner .menu-samping .icon-gambar, .banner .menu-samping p {
  display: inline-block;
}

.banner .menu-samping .icon-gambar img {
  width: 42px;
  height: 42px;
}

.banner .menu-samping p {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding: 0 0 0 24px;
  margin: 0;
  position: relative;
}

/*================================================
Section .banner .col-xs-8
=================================================*/
.banner .col-xs-8 a.col-xs-12 {
  color: #75787b !important;
  margin-bottom: 16px;
  border-bottom: 1px solid #e6e7e8 !important;
  background-color: #fff;
}

.banner .col-xs-8 a.col-xs-12:hover {
  text-decoration: none;
}

.banner .col-xs-8 .col-xs-12 figure {
  margin-bottom: 8px;
}

.banner .col-xs-8 .col-xs-12 .detail h5 {
  font-size: 15.5px;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 2px;
  overflow: hidden;
}

.banner .col-xs-8 .col-xs-12 .detail span {
  display: block;
  height: 18px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 8px;
  max-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.banner .col-xs-8 .col-xs-12 .deal {
  bottom: -45px;
  position: absolute;
  right: 10px;

}
/*================================================
.banner .col-xs-8 .col-xs-12
================================================*/

.banner .col-xs-8 a.col-xs-6 {
  color: #75787b !important;
}

.banner .col-xs-8 a.col-xs-6:hover {
  text-decoration: none;
}

.banner .col-xs-8 .col-xs-6 h5 {
  font-size: 15.5px;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 2px;
  overflow: hidden;
}

.banner .col-xs-8 .col-xs-6 .detail span {
  display: block;
  height: 18px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 8px;
  max-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.banner .col-xs-8 .col-xs-6 .content {
  border-bottom: 1px solid #e6e7e8 !important;
  background-color: #fff;
}

.banner .left {
  float: left;
}

.stars {
  display: inline;
  padding: 0;
}

.stars .star {
  display: inline;
  color: gray;
}

.stars .star.on {
  color: gold !important;
}

.stars .star:before {
  content: '\2605';
}

.stars .star.half:after {
  content: '\2605';
  color: gold;
  position: absolute;
  margin-left: -13px;
  width: 7px;
  overflow: hidden;
}

.banner .left .rating-count {
  display: inline;
  position: relative;
  top: -2px;
}

.banner .right {
  float: right;
}

.banner .right .original-price {
  display: inline;
  font-size: x-large;
  text-decoration: line-through;
  color: #75787b!important;
}

.banner .right .discount {
  display: inline;
  font-size: x-large;
  color: #3498DB!important;
}

/*================================================
.banner .col-xs-8 .col-xs-6
================================================*/

/*================================================
section .main-content
================================================*/
.main-content a.col-xs-4 {
  color: #75787b !important;
}

.main-content a.col-xs-4:hover {
  text-decoration: none;
}

.main-content .col-xs-4 h5 {
  font-size: 15.5px;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 2px;
  overflow: hidden;
}

.main-content .col-xs-4 .detail span {
  display: block;
  height: 18px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 8px;
  max-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-content .col-xs-4 .content {
  border-bottom: 1px solid #e6e7e8 !important;
  background-color: #fff;
  margin-bottom: 20px;
}

.main-content .left {
  float: left;
}

.main-content .left .stars {
  display: inline;
  padding: 0;
}

.main-content .left .stars .star {
  display: inline;
  font-size: x-large;
  color: gray;
}

.main-content .left .stars .star.on {
  color: gold !important;
}

.main-content .left .stars .star:before {
  content: '\2605';
}

.main-content .left .stars .star.half:after {
  content: '\2605';
  color: gold;
  position: absolute;
  margin-left: -22px;
  width: 10px;
  overflow: hidden;
}

.main-content .left .rating-count {
  display: inline;
  position: relative;
  top: -2px;
}

.main-content .right {
  float: right;
}

.main-content .right .original-price {
  display: inline;
  font-size: x-large;
  text-decoration: line-through;
  color: #75787b!important;
}

.main-content .right .discount {
  display: inline;
  font-size: x-large;
  color: #3498DB!important;
}

/*================================================
./section ./main-content
================================================*/

/*================================================
section .browse-by-city
================================================*/

section.browse-by-city, section.browse-by-coupons {
  padding: 10px;
}

section.browse-by-city .container>p, section.browse-by-coupons .container>p {
  border-bottom: 1px dotted #75787b;
}

/*================================================
section.detail-barang
================================================*/
.breadcrumb {
  background-color: #fff !important;
}

.breadcrumb li {
  font-size: 12px;
  line-height: 18px;
  color: #0093ea !important;
}

.breadcrumb>li+li:before {
  content:  ">" !important;
}

.breadcrumb li a:hover {
  color: #0093ea !important;
}

/*================================================
./section.detail-barang.breadcrumb
================================================*/

.title h1 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 42px;
  margin: 0 12px;
}

.info-title, .review-rating, .rating-text {
  display: inline;
}

.info-title span, .info-title a {
  font-weight: 300;
  font-size: 19px;
  line-height: 22px;
  color: #75787b;
}

.detail-barang .review {
  padding: 6px 0 20px;
}

.five-stars {
  margin: 10px auto;
}

.header-info .review-rating .star.half:after {
  margin-top: 3px;
}


.pp-user-icon {
  width: 45px;
  height: 45px;
  color: #fff;
  line-height: 45px;
  text-align: center;
  display: block;
  float: left;
  margin-right: 16px;
  background-color: #e6e7e8;
}

.pp-user-icon p {
  color: #b8b5bb;
  margin: 0;
}

.four-coloumn {
  position: relative;
  min-height: 1px;
  padding: 0 12px;
  float: left;
}

.four-coloumn .user-text {
  color: #b8b5bb;
  display: block;
  float: left;
  clear: both;
  font-size: 12px;
  margin: 3px 0 8px;
}

.four-coloumn .review-name {
  width: 256px;
  height: 40px;
  font-size: 14px;
  text-align: left;
  color: #75787b;
}

.four-coloumn .review-count {
  width: 256px;
  height: 40px;
  font-size: 14px;
  text-align: left;
  color: #75787b;
}

.four-coloumn .individual-rating {
  float: left;
  line-height: 30px;
}

.four-coloumn .review-date {
  padding-left: 5px;
  font-size: 16px;
  color: #75787b;
  line-height: 33px;
}

.tip-text {
  max-height: 5.6em;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  float: left;
  color: #55585b;
  clear: both;
}

.see-all-review {
  clear: both;
  color: #3498DB!important;
}

.see-all-review a:hover {
  text-decoration: none;
  color: #3498DB!important;
}

/*================================================
./section.customer-review
================================================*/

.what-you-get, .fine-print, .deskripsi-barang {
  padding-bottom: 30px;
}

.what-you-get h4, .fine-print h4 {
  color: #333;
  font-size: 1.8rem;
  font-weight: 600;
}

.what-you-get p, .what-you-get li, .fine-print p {
  word-wrap: break-word;
  color: #75787b;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.detail-barang .deskripsi-barang h4 {
  font-weight: 700;
}

.detail-barang .deskripsi-barang p {
  color: #75787b;
}

/* coloumn sebelah kanan */

.spesial-icon {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 12px;
}

.spesial-icon .col-xs-4 {
  text-align: center;
}

.spesial-icon .col-xs-4:first-child ,.spesial-icon .col-xs-4:last-child p {
  color: #75787b;
}

.spesial-icon .col-xs-4:nth-child(2) {
  color: #ff2552;
}

.option {
  margin-bottom: 12px;
}

.option .option-price {
  margin-bottom: 20px;
  padding-bottom: 14px;
  border-bottom: 1px solid #eee;
}

.option input[type=radio] {
  position: absolute;
  right: 323.984px;
}

.option .option-price label {
  cursor: pointer;
  position: relative;
  font-weight: 400;
  padding-left: 2.2em;
  width: 100% !important;
}

.option .option-price label:before {
  width: 13px;
  height: 13px;
  color: #53a318;
  border: 1px solid #53a318;
  border-radius: 50%;
  left: 1px;
  top: 46px;
  position: absolute;
  background: #53a318;
}

.option .option-price label:after {
  width: 21px;
  height: 21px;
  color: #53a318;
  border: 1px solid #53a318;
  border-radius: 50%;
  left: -3px;
  top: 42px;
  position: absolute;
}

.option h3 {
  font-weight: 600;
  font-size: 14px;
  color: #333333;
  line-height: 17px;
}

.option .col-xs-6 {
  padding: 18px 0 0;
}

.option .detail-pesan {
  font-weight: 400;
  font-size: 12px;
  color: #75787b;
}

.option .discount-pesanan {
  font-weight: 400;
  font-size: 12px;
  color: #ff2552;
}

.option .harga {
  text-align: right;
}

.option .detail-harga {
  font-weight: 400;
  font-size: 18px;
  color: #75787b;
  text-decoration: line-through;
}

.option .harga-discount {
  font-weight: 700;
  font-size: 15px;
  color: #ff2552;
}

.option .perlindungan {
  margin: 15px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.option .tulisan-perlindungan {
  font-size: 14px;
  color: #333;
  line-height: 21px;
  font-weight: 600;
}

.option .pilihan-perlindungan {
  font-size: 14px;
  color: #333;
  line-height: 21px;
  font-weight: 400;
  position: relative;
}

.option .btn {
  width: 100%;
  color: white;
  background: #3498db;
  font-weight: 600;
}

.option .btn:hover {
  color: white;
}

.share-this span {
  border-top: 1px solid #d5d8db;
  padding-top: 20px;
  display: block;
  color: #75787b;
  font-size: 11px;
  text-transform: uppercase;
}

.share-this ul {
  padding:  10px 0 0;
}

.share-this ul li {
  display: inline;
  margin-right: 5px;
  padding-top: 4px;
}

.share-this ul li a {
  padding: 6px 0 6px 1px;
  border: 1px solid #a5a8ab;
  border-radius: 50%;
  -webkit-transition: color .5s ease, border .25s ease, box-shadow .25s ease;
     -moz-transition: color .5s ease, border .25s ease, box-shadow .25s ease;
      -ms-transition: color .5s ease, border .25s ease, box-shadow .25s ease;
       -o-transition: color .5s ease, border .25s ease, box-shadow .25s ease;
          transition: color .5s ease, border .25s ease, box-shadow .25s ease;
  color: #a5a8ab;
}

.share-this ul li a i {
  font-size: 1.4rem;
  line-height: 18px;
  height: 28px;
  text-align: center;
  text-decoration: none;
  width: 28px;
}

.share-this ul li a:hover {
  border-color: #333;
  -webkit-box-shadow: 0 0 1px #333, inset 0 0 1px #333;
  box-shadow: 0 0 1px #333, inset 0 0 1px #333;
}
/*================================================
section.detail-barang
================================================*/

/*================================================
footer
================================================*/

footer {
  padding: 35px 0;
  border-top: 1px solid #d5d8db;
  color: #75787b;
}

footer h6 {
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  color: #333333;
}

footer p a {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #75787b;
}

footer p a:hover {
  color: #75787b;
}

footer .col-xs-3:last-child a i{
  margin: 0 3px 0 0;
  color: #a5a8ab;
  border-radius: 50%;
  border: 2px solid #a5a8ab;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  line-height: 25px;
  padding: 3px 0;
  text-align: center;
}

footer .col-xs-3:last-child a:hover {
  text-decoration: none;
}

footer .col-xs-3:last-child .twitter:hover i {
  color: #55acee;
  border: 2px solid #55acee;
}

footer .col-xs-3:last-child .facebook:hover i {
  border: 2px solid #4a67a4;
  color: #4a67a4;
}
/*================================================
./footer
================================================*/